:root {
  --gradient-first: hsl(6, 100%, 80%);
  --gradient-second: hsl(335, 100%, 65%);
  --pale-blue: hsl(243, 100%, 93%);
  --grayish-blue: hsl(229, 7%, 55%);
  --dark-blue: hsl(228, 56%, 26%);
  --very-dark-blue: hsl(229, 57%, 11%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", sans-serif;
  width: 100vw;
  height: 100vh;
  background-image: url(images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.card {
  border-radius: 1rem;
  background-color: var(--dark-blue);
  width: 85%;
}

.card-logo {
  padding: 4rem;
  border-top-right-radius: 10rem;
}

.card-storage {
  padding: 3rem 3rem 4rem 3rem;
  position: relative;
}

.h-box-1 {
  display: flex;
  gap: 1.5rem;
  margin-top: 3rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--very-dark-blue);
  padding: 1.3rem;
  border-radius: 1rem;
}

.description {
  color: var(--pale-blue);
  font-size: 1.4rem;
  font-weight: 400;
  width: 100%;
  text-align: center;
}

.h-box-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-bar {
  width: 100%;
  background-color: var(--very-dark-blue);
  border-radius: 1rem;
  padding: 0.1rem;
  margin: 2rem 0 1rem;
}

.progress-bar-gradient {
  width: 75%;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.ball {
  height: 1.1rem;
  width: 1.1rem;
  background-color: var(--pale-blue);
  border-radius: 50%;
}

.text {
  color: var(--pale-blue);
  font-size: 1.2rem;
  font-weight: 700;
}

.floating-msg-container {
  position: absolute;
  left: 50%;
  top: 78%;
}

.msg {
  border-radius: 1rem;
  margin-left: 1.4rem;
  background-color: #fff;
  padding: 1.2rem 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  position: relative;
  left: -50%;
}

.msg strong {
  font-size: 4rem;
  color: var(--very-dark-blue);
}

.msg span {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--grayish-blue);
  letter-spacing: 0.1rem;
  white-space: nowrap;
}

.triangle {
  display: none;
}

@media screen and (min-width: 1440px) {
  body {
    background-image: url(images/bg-desktop.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    flex-direction: row;
    align-items: flex-end;
    height: fit-content;
    width: 64%;
    gap: 3rem;
  }

  .card-logo {
    width: 40%;
  }

  .card-storage {
    width: 60%;
    position: relative;
  }

  .floating-msg-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    left: unset;
    right: 3rem;
    top: -30%;
  }

  .msg {
    left: 0;
    border-bottom-right-radius: 0;
  }

  .triangle {
    display: block;
    width: 0;
    height: 0;
    border-right: 10px solid #fff;
    border-left: 10px solid transparent;
    border-top: 10px solid #fff;
    border-bottom: 10px solid transparent;
  }
}
